#!/usr/bin/env bash

CUPKEE_ROOT=cupkee_install_path

if [ $# -eq 0 ];
then
    echo "Usage: cupkee sub_comand ..."
    echo "  - build: build cupkee app on current directary"
    exit 0
fi

CMD_PREFIX="cupkee-"
CMD=${CMD_PREFIX}$1

if [ ! -e ${CUPKEE_ROOT}/bin/${CMD} ];
then
    echo "command '${CMD}' not exist!"
    exit
fi

shift

CUPKEE_ROOT=${CUPKEE_ROOT} ${CMD} $@

